{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
{# reset_password.html.twig #}
{{ form_start(passForm) }}

{{ form_widget(passForm) }}

<button type="submit">Valider</button>

{{ form_end(passForm) }}
{% endblock %}
