{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}
<div class="text-center w-100">
    <h1 class="title">Abonnement</h1>
    
   {% for message in app.flashes('info') %}

            <div class="bg-info-subtle rounded-lg p-4 mb-4 flash-message" role="alert">
                {{ message }}
            </div>

    {% endfor %}

    <section class="pricing-section mb-5 px-5" id="tarifs">
        <div class="container  my-5">
            <h2 class="section-title text-white">Une tarification simple et transparente</h2>
            <div class="row justify-content-evenly">

                    <div class="col-lg-4 pricing-card d-flex flex-column justify-content-between">
                        <div>
                            <h3>Starter</h3>
                            <div class="price">2€<span>/mois</span></div>
                        </div>
                        <ul class="pricing-features">
                            <li>Jusqu'à 30 factures/an</li>
                            <li>1 utilisateur</li>
                            <li>Support par email</li>
                        </ul>
                         <a href="#essai" class="btn btn-primary w-100">Commencer</a>


                </div>
                    <div class="col-lg-4 pricing-card popular d-flex flex-column justify-content-between">
                        
                        <h3>Pro</h3>
                        <div class="price">10€<span>/mois</span></div>
                        <ul class="pricing-features">
                            <li>Factures illimitées</li>
                            <li>3 utilisateurs</li>
                            <li>Relances automatiques</li>
                            <li>Support prioritaire</li>
                        </ul>
                        <a href="#essai" class="btn btn-primary w-100">Commencer</a>

                </div>
                {# <div class="col-lg-4">
                    <div class="pricing-card">
                        <h3>Business</h3>
                        <div class="price">39€<span>/mois</span></div>
                        <ul class="pricing-features">
                            <li>Tout Pro +</li>
                            <li>Utilisateurs illimités</li>
                            <li>API & intégrations</li>
                            <li>Account manager dédié</li>
                        </ul>
                        <a href="#essai" class="btn btn-outline-primary w-100">Commencer</a>
                    </div>
                </div> #}
            </div>
            <div class="text-center mt-5">
                <p class="text-white"><em>Essai gratuit 10 factures - 20 devis  - Aucune carte bancaire requise</em></p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
