{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
 <div class="container w-100 p-5 bg-white border-info-subtle rounded-4 shadow-sm">
 <twig:ProductComponent :entity='entity' :headers='headers' />
    

    <a  class="btn-ocean btn-ocean-primary" href="{{ path('app_product_new') }}"><i class="bi bi-plus-square"></i> Create new</a>
    </div>
{% endblock %}
